<div class="vignette col-lg-4 col-md-6 col-sm-12 shadow bg-white rounded">
    <div class="vignette-content">
        <h4><i class="fab fa-node-js">&nbsp;</i>Available on Typescript </h4>
        <p>
            NodeOPCUA can be use in Javascript as well as in Typescript.
        </p>
    </div>
</div>

<div class="vignette col-lg-4 col-md-6 col-sm-12 shadow bg-white rounded">
    <div class="vignette-content">
        <h4><i class="fa fa-microphone">&nbsp;</i> open-source core</h4>
        <p>
            NodeOPCUA core is open-source licence, and can be super-charged by extended professionnal
            modules,
        </p>
    </div>
</div>
<div class="vignette col-lg-4 col-md-6 col-sm-12 shadow bg-white rounded">
    <div class="vignette-content">
        <h4><i class="fab fa-github">&nbsp;</i> Fork my source code </h4>
        <p>
            NodeOPCUA is available on GitHub . Check out the <a href="https://github.com/node-opcua/node-opcua">source
                code </a>.
        </p>
    </div>
</div>

<div class="vignette col-lg-4 col-md-6 col-sm-6 shadow bg-white rounded">
    <div class="vignette-content">
        <h4><i class="fas fa-pencil-alt">&nbsp;</i>Create your own server</h4>
        <p>Easily create your own OPCUA Server in less than 100 lines of code.</p>
    </div>
</div>

<div class="vignette col-lg-4 col-md-6 col-sm-12 shadow bg-white rounded">
    <div class="vignette-content">
        <h4><i class="fa fa-desktop"></i> Runs under Linux , Mac and Windows</h4>
        <p>NodeOPCUA runs on all the platforms that nodeJS supports.</p>
    </div>
</div>

<div class="vignette col-lg-4 col-md-6 col-sm-12  shadow bg-white rounded">
    <div class="vignette-content">
        <h4><img width="16px" src="images/raspberry.jpg"><img> &nbsp;Perfect on RaspberryPI</h4>
        <p>
            Create your own OPCUA Server on a RaspberryPI with your preferred I/O sensors.
        </p>
    </div>
</div>