{% include socialbuttons.html %}

<section id="why" class="feature-list">
    <div class="row">
        <div class="vignette col-lg-6 col-md-6 col-sm-12 shadow bg-white rounded">

            <div class="vignette-content-big">
                <h4><i class="fa fa-rocket">&nbsp;</i>100% Asynchronous</h4>
                <p>NodeOPCUA takes advantage of the asynchronous nature of node.js, creating highly responsive
                    applications.
                </p>
                {% include code_sample.html %}
            </div>
        </div>

        <div class="vignette col-lg-6 col-md-6 col-sm-12 shadow bg-white rounded">
            <div class="vignette-content-big">
                <h4><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>&nbsp; High Quality
                </h4>
                <p>
                    NodeOPCUA has been developed using <a
                        href="https://en.wikipedia.org/wiki/Test_Driven_Development">TDD</a> and
                    benefits from more than <a href="https://travis-ci.org/node-opcua/node-opcua">3500 unit tests</a>
                    and 93% code coverage.
                </p>
                <p> NodeOPCUA uses
                    <a href="https://github.com/node-opcua/node-opcua/actions/workflows/workflow.yml">GitHub Actions</a>
                    as a continuous integration
                    service.
                </p>
                <p>
                    <a href="https://github.com/node-opcua/node-opcua/actions/workflows/workflow.yml">
                        <img
                            src=" https://github.com/node-opcua/node-opcua/actions/workflows/workflow.yml/badge.svg"></img>
                    </a>
                    <a href='https://coveralls.io/r/node-opcua/node-opcua?branch=master'>
                        &nbsp;
                        <img src='https://coveralls.io/repos/node-opcua/node-opcua/badge.png?branch=master'
                            alt='Coverage Status' />
                    </a>
                </p>
                <p dir="auto"><a href="https://img.shields.io/npm/v/node-opcua" rel="nofollow"><img
                            src="https://camo.githubusercontent.com/acfaba4c689fb9407437d5ac57e63df60ed73efa3eb810bfd8fe9ed652f92a69/68747470733a2f2f696d672e736869656c64732e696f2f6e706d2f762f6e6f64652d6f70637561"
                            alt="NPM version" data-canonical-src="https://img.shields.io/npm/v/node-opcua"
                            style="max-width: 100%;"></a>
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="vignette col-lg-6 col-md-6 col-sm-12 shadow bg-white rounded">
            <div class="vignette-content-big">
                <h4><i class="fa fa-osi"></i>&nbsp;Open-Source Constantly Evolving </h4>
                <p><strong>With the Perpetual Beta model, innovation never stops.</strong></p>
                <p>We use <a
                        href="https://node-opcua.github.io/news/2023/10/04/node-opcua-open-source-is-permanent-beta.html">Perpetual
                        Beta</a> model to ensure that the core model of NodeOPCUA is constantly improving and tested by
                    the community.
                    We release an new enhanced version every 2 weeks in average.</p>
                <p dir="auto"><a href="https://www.npmtrends.com/node-opcua-server" rel="nofollow"><img
                            src="https://camo.githubusercontent.com/18901830a2c06bda719e123cbfc9a8934ac835fb655441539173fb60aeff3c07/68747470733a2f2f696d672e736869656c64732e696f2f6e706d2f646d2f6e6f64652d6f706375612e7376673f6c6f676f3d6e706d266c6162656c3d6e6f64652d6f706375612d736572766572"
                            alt="NPM download - server"
                            data-canonical-src="https://img.shields.io/npm/dm/node-opcua.svg?logo=npm&amp;label=node-opcua-server"
                            style="max-width: 100%;"></a>
                    <a href="https://www.npmtrends.com/node-opcua-server" rel="nofollow"><img
                            src="https://camo.githubusercontent.com/375e0c73645dba8a395b508e0073f4bd3419fd6181165dfd2cfdb40356a56e58/68747470733a2f2f696d672e736869656c64732e696f2f6e706d2f64742f6e6f64652d6f706375612e7376673f6c6162656c3d746f74616c"
                            alt="NPM download - server -total"
                            data-canonical-src="https://img.shields.io/npm/dt/node-opcua.svg?label=total"
                            style="max-width: 100%;"></a>
                </p>
                <p dir="auto"><a href="https://www.npmtrends.com/node-opcua-client" rel="nofollow"><img
                            src="https://camo.githubusercontent.com/f9acc9761ed22976cfd9f5964d5aeea36645cf66aa5a0f30e91f7f0320eb25e4/68747470733a2f2f696d672e736869656c64732e696f2f6e706d2f646d2f6e6f64652d6f706375612d636c69656e742e7376673f6c6f676f3d6e706d266c6162656c3d6e6f64652d6f706375612d636c69656e74"
                            alt="NPM download - client"
                            data-canonical-src="https://img.shields.io/npm/dm/node-opcua-client.svg?logo=npm&amp;label=node-opcua-client"
                            style="max-width: 100%;"></a>
                    <a href="https://www.npmtrends.com/node-opcua-client" rel="nofollow"><img
                            src="https://camo.githubusercontent.com/f346b45268f8b334148d51ef0981d4e60b21245ef65490eec5035c4014e7dda0/68747470733a2f2f696d672e736869656c64732e696f2f6e706d2f64742f6e6f64652d6f706375612d636c69656e742e7376673f6c6162656c3d746f74616c"
                            alt="NPM download - client -total"
                            data-canonical-src="https://img.shields.io/npm/dt/node-opcua-client.svg?label=total"
                            style="max-width: 100%;"></a>
                </p>
                <p style="text-align: center;">
                    <a href="https://www.opencollective.com/node-opcua" class="btn btn-default">Sponsor our &nbsp;
                        <img src="/images/sterfive3.png" style="max-width: 4em;"></img>&nbsp;Open Collective initiative
                    </a>
                </p>

            </div>
        </div>
        <div class="vignette col-lg-6 col-md-6 col-sm-12 shadow bg-white rounded">
            <div class="vignette-content-big">
                <h4><i class="fa  fa-shield-alt"></i>&nbsp; Stability &
                    Support with Pro Membership
                </h4>
                <p><strong>When industry demands reliability, the Professional Edition delivers.</strong></p>
                <p>Are you using NodeOPCUA for your commercial business ? The Professional Edition offers superior
                    uptime, dedicated support, and robust updates.
                    Switch to the <a href="https:support.sterfive.com"> NodeOPCUA Membership Subscription</a> for
                    strategic reliability and advanced NodeOPCUA capabilities in your commercial
                    product.</p>
                <p style="text-align: center;">
                    <a href="https://www.sterfive.com" class="btn btn-default">Subscribe to &nbsp;
                        <img src="/images/sterfive3.png" style="max-width: 4em;"></img>&nbsp;Professional Membership
                    </a>
                </p>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="vignette col-lg-4 col-md-6 col-sm-12 shadow bg-white rounded">
            <div class="vignette-content">
                <h4><i class="fa fa-search">&nbsp;</i>Live documentation</h4>
                <p>NodeOPCUA will benefit from a <a href="api_doc/index.html">comprehensive SDK API
                        documentation</a> ,
                    numerous end-to-end functional tests, and a set of practical examples to help you
                    learn how to use it.
                </p>
            </div>
        </div>

        <div class="vignette col-lg-4 col-md-6 col-sm-12 shadow bg-white rounded">
            <div class="vignette-content">
                <h4><i class="fa fa-book">&nbsp;</i>Learn by the Book</h4>
                <p>
                    <a href="https://leanpub.com/node-opcuabyexample-edition2022">NodeOPCUA by example - Edition 2022</a> is the best start
                    to
                    place
                    and learn how to write stunning applications.
                </p>
            </div>
        </div>

        <div class="vignette col-lg-4 col-md-6 col-sm-12 shadow bg-white rounded">
            <div class="vignette-content">
                <h4><i class="fa fa-hand-point-right">&nbsp;</i>NodeOPCUA needs you !</h4>
                <p>we welcome funding sponsors & volunteers to help improving code & documentation.
                </p>
            </div>
        </div>
    </div>

</section>