{% include socialbuttons.html %}

<section id="why" class="feature-list">
<div class="row">


        <div class="col-md-4 col-sm-6">
            <h4><i class="fa fa-rocket"></i>100% Asynchronous</h4>
            NodeOPCUA takes advantage of the asynchronous nature of node.js, creating highly responsive applications.
<div class="small">
{% highlight javascript %}
var opcua = require("node-opcua");
var server = new opcua.Server({});
server.listen(function(){
   ...
});
{% endhighlight  %}
</div>
        </div>

        <div class="col-md-4 col-sm-6">
            <h4><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> High Quality</h4>
            NodeOPCUA has been developed using <a href="http://en.wikipedia.org/wiki/Test_Driven_Development">TDD</a> and
            benefits from more than <a href="https://travis-ci.org/node-opcua/node-opcua">1200 unit tests</a> and 96% code coverage. NodeOPCUA uses
            <a href="https://travis-ci.org/node-opcua/node-opcua">Travis</a> as a continuous integration service.

            <img src="https://travis-ci.org/node-opcua/node-opcua.svg?branch=master"></img>
            <a href='https://coveralls.io/r/node-opcua/node-opcua?branch=master'><img src='https://coveralls.io/repos/node-opcua/node-opcua/badge.png?branch=master' alt='Coverage Status' /></a>
        </div>


        <div class="col-md-4 col-sm-6">
            <h4><i class="fa fa-microphone"></i> Free, as in Speech</h4>
            NodeOPCUA is  free for commercial use. Check out the <a href="https://raw.githubusercontent.com/node-opcua/node-opcua/master/LICENSE">license</a>.
        </div>

        <div class="col-md-4 col-sm-6">
            <h4><i class="fa fa-github"></i> Fork my source code</h4>
            NodeOPCUA is available on GitHub . Check out the <a href="http://github.com/node-opcua/node-opcua">source code </a>.
        </div>

        <div class="col-md-4 col-sm-6">
            <h4><i class="fa fa-pencil"></i>Create your own server</h4>
            Easily create your own OPCUA Server in less than 100 lines of code.
        </div>

        <div class="col-md-4 col-sm-6">
            <h4><i class="fa fa-desktop"></i> Runs under Linux , Mac and Windows</h4>
            NodeOPCUA runs on all the platforms than nodeJS supports.
        </div>

        <div class="col-md-4 col-sm-6">
            <h4><img width="16px" src="images/raspberry.jpg"><img> Perfect on RaspberryPI</h4>
            Create your own OPCUA Server on a RaspberryPI with your preferred I/O sensors. More to come on this very soon, stay in touch.

        </div>

        <div class="col-md-4 col-sm-6">
            <h4><i class="fa fa-search"></i>Live documentation</h4>
            NodeOPCUA will benefit from a <a href="api_doc/index.html" >comprehensive SDK API documentation</a> , numerous end-to-end functional tests, and a set of practical examples to help you
            learn how to use it.
        </div>

        <div class="col-md-4 col-sm-6">
            <h4><i class="fa fa-hand-o-right"></i>Node OPCUA needs you </h4>
            Node OPCUA is welcoming volunteers to help improving the code, the documentation.
            Contact us
        </div>

</div>
</section>

