<div class="page-header">
    <h1>Get involved</h1>
</div>

<div class="row">
    <div class="vignette col-md-6">
        <div class="vignette-content">

            <h4><i class="fa fa-paper-plane">&nbsp;</i>Submit an issue or a suggestion</h4>
            <p>
                If you find an issue or have any suggestions you can
                 <a href="https://github.com/node-opcua/node-opcua/issues">submit them here</a> 
                and get support from the community.
            </p>
        </div>
    </div>

    <div class="vignette col-md-6">
        <div class="vignette-content">
            <h4><i class="fas fa-code-branch"></i>&nbsp;Fork and contribute</h4>
            <p>
                If you find an issue in the documentation or in the code, you can fork and send a pull request to
                the master branch.
            </p>

        </div>
    </div>

    <div class="vignette col-md-6">
        <div class="vignette-content">
            <h4><i class="fa fa-money"></i><i class="fa fa-heart" style="color: red;">&nbsp;</i>
                <a href="https://github.com/sponsors/node-opcua" class="btn btn-default">Become a sponsor</a>
            </h4>
            <p>  

Companies that uses Node-opcua are encouraged to make a voluntary contribution.
        </p>
        <p style="font-size: 0.8em;font-style: italic;">
            The world now runs on open source. None of it would be possible without the devoted team that
            push the technology forward.
        </p>

        </div>
    </div>
    <div class="vignette col-md-6">
        <div class="vignette-content">
            <h4>
                <i class="fa fa-life-ring"></i>
                &nbsp;
                <a href="http://www.sterfive.com" class="btn btn-default">Request 
                     <img src="/images/sterfive3.png" style="max-width: 4em;"></img>Technical Support</a>
            </h4>
            <p>

            If you want professional support and expertise you can contact us.
                
            </p>
        </div>
    </div>
</div>