<div class="page-header">
    <h1>Learn how to use</h1>
</div>
<div class="row">

    <div class="col-md-6">
        <h3>Creating a simple Server</h3>

        <p>check this <a href="https://github.com/node-opcua/node-opcua-sampleserver">example</a> to see an simple
            OPCUA server
            that exposes 3 simple variables.</p>
        <a href="https://github.com/node-opcua/node-opcua/blob/v2.1.3/documentation/sample_server.js"
            class="btn btn-default btn-small">View Code</a>
        <a href="https://github.com/node-opcua/node-opcua/blob/v2.1.3/documentation/creating_a_server.md"
            class="btn btn-default btn-small">Read Tutorial</a>
    </div>


    <div class="col-md-6">
        <h3>Creating a simple Client</h3>

        <p>check this <a href="https://github.com/node-opcua/node-opcua-sample">example</a> to see an simple OPCUA
            client that
            attempts to connect to a OPCUA server,
            print the end point and browse some variables. (Typescript) </p>
        <a href="https://github.com/node-opcua/node-opcua/blob/v2.1.3/documentation/sample_client_ts.ts"
            class="btn btn-default btn-small">View Code</a>
        <a href="https://github.com/node-opcua/node-opcua/blob/v2.1.3/documentation/creating_a_client_typescript.md"
            class="btn btn-default btn-small">Read Tutorial</a>

    </div>

    <div class="col-md-6">
        <h3>Creating a virtual Weather Station OPC/UA Server </h3>

        <p>In this tutorial, we will use a REST API to access free weather data from cities around the world and
            expose them though a OPC/UA server.</p>
        <a href="/tutorial/2015/07/05/weather-station.html" class="btn btn-default btn-small">Read tutorial</a>


    </div>

    <div class="col-md-6">
        <h3>Creating a HTML Dashboard to monitor a </h3>

        <p>check this <a href="https://github.com/node-opcua/node-opcua-htmlpanel">example</a> to see an simple
            OPCUA client that
            attempts to connect to a OPCUA server,
            print the end point and browse some variables.</p>
        <a href="https://github.com/node-opcua/node-opcua-htmlpanel" class="btn btn-default">View Code</a>
        <a href="#" class="btn btn-default btn-small">Read Tutorial</a>

    </div>
</div>