<div class="container ">
  <div class="row">
    <div class="col-md-12" style='display: flex;justify-content: center;margin-top:2em;'>
      <iframe width='160' height='400' src='https://leanpub.com/node-opcuabyexample-edition2024/embed' frameborder='0'
        allowtransparency='true'></iframe>
    </div>
  </div>
</div>



<!-- 
        <iframe class="book" width='200' height='400' src='https://leanpub.com/node-opcuabyexample/embed' frameborder='0'
        allowtransparency='true'></iframe>


        <a target="_blank"  href="https://www.amazon.fr/gp/product/3836264536/ref=as_li_tl?ie=UTF8&camp=1642&creative=6746&creativeASIN=3836264536&linkCode=as2&tag=sterfive-21&linkId=55fcd25312f862876bc0607968d46ef6"><img border="0" src="//ws-eu.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=FR&ASIN=3836264536&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=sterfive-21" ></a><img src="//ir-fr.amazon-adsystem.com/e/ir?t=sterfive-21&l=am2&o=8&a=3836264536" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
   &nbsp;
           <a target="_blank"  href="https://www.amazon.fr/gp/product/1530505119/ref=as_li_tl?ie=UTF8&camp=1642&creative=6746&creativeASIN=1530505119&linkCode=as2&tag=sterfive-21&linkId=c6b0a2a304487c2244cda8dedb1b687d"><img border="0" src="//ws-eu.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=FR&ASIN=1530505119&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=sterfive-21" ></a><img src="//ir-fr.amazon-adsystem.com/e/ir?t=sterfive-21&l=am2&o=8&a=1530505119" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
   &nbsp;
            <a target="_blank"  href="https://www.amazon.fr/gp/product/3642088422/ref=as_li_tl?ie=UTF8&camp=1642&creative=6746&creativeASIN=3642088422&linkCode=as2&tag=sterfive-21&linkId=1df33e745d59627b5353195ad77efbbb"><img border="0" src="//ws-eu.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=FR&ASIN=3642088422&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=sterfive-21" ></a><img src="//ir-fr.amazon-adsystem.com/e/ir?t=sterfive-21&l=am2&o=8&a=3642088422" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
          &nbsp;
        <a target="_blank"  href="https://www.amazon.fr/gp/product/1785885588/ref=as_li_tl?ie=UTF8&camp=1642&creative=6746&creativeASIN=1785885588&linkCode=as2&tag=sterfive-21&linkId=224191c2806fa2d6d0e721bee0ed07db"><img border="0" src="//ws-eu.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=FR&ASIN=1785885588&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=sterfive-21" ></a><img src="//ir-fr.amazon-adsystem.com/e/ir?t=sterfive-21&l=am2&o=8&a=1785885588" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
        &nbsp;
        <a target="_blank"  href="https://www.amazon.fr/gp/product/1617295949/ref=as_li_tl?ie=UTF8&camp=1642&creative=6746&creativeASIN=1617295949&linkCode=as2&tag=sterfive-21&linkId=1bb4734a4509582b016a3588d2169a53"><img border="0" src="//ws-eu.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=FR&ASIN=1617295949&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=sterfive-21" ></a><img src="//ir-fr.amazon-adsystem.com/e/ir?t=sterfive-21&l=am2&o=8&a=1617295949" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
  -->