<section id="why" class="feature-list">

    <div class="row">
        <div class="vignette col-lg-12 col-md-12 col-sm-12 shadow bg-white rounded">
            <div class="vignette-content">
                <h4><i class="fa fa-business-time"></i>&nbsp;complement Node-OPCUA with professional Libraries</h4>
                <p style="text-align:center; font-size: 1.2em;">Elevate NodeOPCUA with Sterfive's professional modules.
                </p>

                <p> Designed for top-tier performance and
                    compliance, they
                    transform NodeOPCUA from a solid open-source base into an unmatched industrial IoT powerhouse..</p>
                </p>

                <p>Our professional modules are crafted for unparalleled performance and compliance.
                <table>
                    <tr>
                        <td>

                            <ul style="margin-left: 3em;">
                                <li><strong>Exclusive Access</strong>: Available only to NodeOPCUA Profession Membership
                                    Subscription holders.</li>
                                <li><strong>Cost-Effective</strong>: Yearly license fee per product line.</li>
                                <li><strong>Ease of Integration</strong>: Directly from Sterfive's private npm registry.
                                </li>
                                <li><strong>Transparency</strong>: Optional source access available.</li>
                            </ul>
                        </td>
                        <td style="vertical-align: center;">
                            <p style="text-align: center;">
                                <a href="https://www.sterfive.com/contact/" class="btn btn-default">Get a quote. Contact
                                    &nbsp;
                                    <img src="/images/sterfive3.png" style="max-width: 4em;"></img> ! </a>
                            </p>
                        </td>
                    </tr>
                </table>
                </p>
                <p><i class="fas fa-arrow-down"></i>&nbsp;See below&nbsp;<i class="fas fa-arrow-down"></i></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="vignette col-lg-6 col-md-12 col-sm-12 shadow bg-white rounded">
            <div class="vignette-content" style="min-height:20em;">
                <h4>@sterfive/file-transfer</h4>

                <p>This package provides an implementation of FileDirectoryType as per OPCUA File Transfer
                    specification as per OPCUA 1.0.4 part 5 Annex C (page 99).</p>


                <table style="font-size: 0.8em;vertical-align:top;margin: 3em;">
                    <tr>
                        <td>
                            <strong>Client Side</strong>
                            <ul>
                                <li>
                                    accessing a FileDirectory node with ease from a node-opcua client
                                </li>
                                <li>
                                    navigate files and folder recursively
                                </li>
                                <li>
                                    action standard OPCUA Method to manipulate files and folder using <OPCUA class="P">

                                    </OPCUA>
                                </li>
                            </ul>
                        </td>
                        <td>
                            <strong>Server Side</strong>
                            <ul>
                                <li>creating a FileDirectory node with a single line of code</li>
                                </li>
                                <li>automatically monitor file system changes and reflects them in the OPCUA Tree</li>
                                <li>manage permission</li>
                                <li>use standard file system or memfs</li>
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>
        </div>>

        <div class="vignette col-lg-6 col-md-12 col-sm-12 shadow bg-white rounded">
            <div class="vignette-content" style="min-height:20em;">
                <h4>@sterfive/node-opcua-pubsub</h4>
                <p>
                    implement the OPCUA PubSub specification Part 14.
                </p>
                <table style="font-size: 0.8em;vertical-align:top;margin: 3em;">
                    <tr>
                        <td>
                            <strong>Client:</strong>
                            <ul>
                                <li>Extension to interact with Server/PublishSubscribe objects.</li>
                                <li>Administer a server's publish & subscribe objects.</li>
                                <li>Handles connections, Published DataSet, WriterGroup, ReadGroup.</li>
                            </ul>
                        </td>
                        <td>
                            <strong>Server:</strong>
                            <ul>
                                <li>Adds upport using one line of code.</li>
                                <li>Fully implements the PublishSubscribe object.</li>
                                <li>Provides MQTT-JSON transport.</li>
                                </li>MQTT connectors compatible with generic broker, AWS, GoogleCloud, or Azure.
                                </li>
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="vignette col-lg-6 col-md-12 col-sm-12 shadow bg-white rounded">
            <div class="vignette-content" style="min-height:20em;">
                <h4>@sterfive/node-opcua-gds</h4>
                <p>
                    implement the OPCUA GDS specification Part 15 for advance security, certificate management
                    and
                    device provisioning.
                </p>
                <table style="font-size: 0.8em;vertical-align:top;margin: 3em;">
                    <tr>
                        <td>
                            <strong>Client:</strong>
                            <ul>
                                <li> Administers server certificates.</li>
                                <li> Handles certificate renewal and management via OPCUA.</li>
                                <li> Interacts with any compliant GDS Server.</li>
                            </ul>
                        </td>
                        <td>
                            <strong>Server:</strong>
                            <ul>
                                <li> Extends node-opcua server with GDS support.</li>
                                <li> Manages pull and push certificates.</li>
                                <li> Easily integrates with a single line of code.</li>
                            </ul>
                        </td>
                    </tr>
                </table>
                </p>
            </div>
        </div>
        <div class=" vignette col-lg-6 col-md-12 col-sm-12 shadow bg-white rounded">
            <div class="vignette-content" style="min-height:20em;">
                <h4>@sterfive/optimized-client</h4>
                <p>
                    Improve the performance of the OPCUA client by up 200%.
                </p>

                <ul style="font-size: 0.8em;vertical-align:top;margin: 3em;">
                    <li>Handles server limits & continuation points seamlessly</li>
                    <li>Ideal for large address-space from 1000 to 10 millions nodes</li>
                    <li>Automaticaly groups requests to minimize network transactions</li>
                    <li>Automatically pauses and retries commands based on connection status.</li>
                </ul>
            </div>
        </div>
        <div class="vignette col-lg-6 col-md-12 col-sm-12 shadow bg-white rounded">
            <div class="vignette-content" style="min-height:20em;">
                <h4>@sterfive/crawler</h4>
                <p>
                    A crawler that browse OPCUA servers and collect data from them.
                </p>
                <h4>@sterfive/opcua-web-prowy</h4>
                <p>
                    use the well-known node-opcua Client API from within a web-browser to interact with OPCUA servers
                    via a proxy. Reuse same code for nodejs and for the browse to manipulate the address-space.
                </p>
                <h4>@sterfive/react-compnents</h4>
                <p>
                    a set of React Components to build OPCUA web-based application.
                </p>
            </div>
        </div>
    </div>

</section>