
<div id="social-buttons" class="hidden-print">
        <ul class="list-inline">
            <li>
                <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=node-opcua&repo=node-opcua&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
            </li>
            <li>
                <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=node-opcua&repo=node-opcua&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="102px" height="20px"></iframe>
            </li>
            <li class="follow-btn">
                <a href="https://twitter.com/nodeopcua" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">Follow @nodeOPCUA</a>
            </li>
{%  comment %}
       see https://dev.twitter.com/docs/tweet-button
{%  endcomment %}
            <li class="tweet-btn hidden-phone">
                <a href="https://twitter.com/share" class="twitter-share-button" data-text="NodeOPCUA the open-source #OPCUA Stack for #NodeJS" data-lang="en">Tweet</a>
            </li>

        </ul>
</div>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
