<div class="page-header">
    <h1>Our premium sponsors:</h1>
</div>

<div class="row">
    <div class="col-md-12 sponsor_logo_area" style="display:flex;align-items: center;justify-content: space-around;">
        <div style="display:flex;flex-wrap: wrap;">
            <a href="https://www.kalycito.com/" 
             
            onClick="ga('send', 'event', 'Sponsor', 'click', 'kalycito');" 
            >
                <img class="card-img-top" src="/images/sponsors_logos/kalycito_large.png" 
                    style="width: 15em;">
            </a>
            <a href="https://www.osadl.org"

            onClick="ga('send', 'event', 'Sponsor', 'click', 'osadl');" 

            >

                <img src="/images/sponsors_logos/OSADL.png"
                     style="width: 15em;">
            </a>
            <div style="display:flex;justify-content: center;align-items:center;">
                <p>
                    <a href="https://github.com/sponsors/node-opcua" class="btn btn-default btn-large">Sponsor us !</a>
                </p>
            </div>
        </div>
    </div>
</div>