
<div class="page-header">
    <h1>Happy users </h1>
</div>
<div class="row" style="display:flex;align-items: center;justify-content: center;">
<div class="col-md-12">
<div class="grayscale" style="display:flex;flex-wrap: wrap;">
<img src="/images/clients/actiwoy.ong.png"></img>
<img src="/images/clients/capgeminI.png"></img>
<img src="/images/clients/amazon.png"></img>
<img src="/images/clients/ibm.png"></img>
<img src="/images/clients/sap.png"></img>
<img src="/images/clients/node-red.png"></img>
<img src="/images/clients/renault.png"></img>
<img src="/images/clients/silveo.png"></img>
<img src="/images/clients/valmet.png"></img>
<img src="/images/clients/verralia.png"></img>
<img src="/images/clients/siemens.png"></img>
<img src="/images/clients/litmus-automation.png"></img>
<img src="/images/clients/braincube.png"></img>
<img src="/images/clients/cedalo.png"></img>
<img src="/images/clients/singletemp.png"></img>
<img src="/images/clients/TUM.jpg"></img>
<img src="/images/clients/MIT.jpg"></img>
<img src="/images/clients/wh.png"></img>
</div>
</div>
</div>  