/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: calc($spacing-unit / 2);
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            >svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }

            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: calc($spacing-unit / 2);
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: calc(-1 * $spacing-unit / 2);
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: calc($spacing-unit / 2);
    padding-left: calc($spacing-unit / 2);
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width: calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width: calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width: calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {

    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width: calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width: calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width: calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    >li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}


article {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.6em;

    h1,
    h2,
    h3,
    p,
    pre {
        padding: 0;
        margin: 0;
    }

        blockquote {
            padding-left: 2em;
            margin-left: 6em;
            margin-bottom: 2em;
        }

    blockquote>p {
        font-weight: 300;
        font-size: 1.6em;
        font-style: italic;
            margin-right: 5em;   }

    h1 {
        font-size: 1.3em;
        margin-top: 2.0 em;
        margin-bottom: 1.5em;
    }

    h2 {
        font-size: 1.3em;
        font-weight: 400;
        margin-top: 2.0 em;
        margin-bottom: 0.8em;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 1.2em;
        font-weight: 400;
        padding-top: 2em;
        padding-bottom: 1em;
        margin-top: 2.0 em;
        margin-bottom: 0.8em;
        @include media-query($on-laptop) {
            font-size: 15px;
        }
    }

    img {
        max-width: 80%;
        margin: 0.2em;
        margin-top: 1em;
        margin-bottom: 1em;
        text-align: center;
    }

$gl-ms : "screen and (max-width: 23.5em)"; // up to 360px
$gl-xs : "screen and (max-width: 35.5em)"; // up to 568px
$gl-sm : "screen and (max-width: 48em)"; // max 768px
$gl-md : "screen and (max-width: 64em)"; // max 1024px
$gl-lg : "screen and (max-width: 80em)"; // max 1280px

// table style

table {
    border-spacing: 1;
    border-collapse: collapse;
    background: white;
    border-radius: 6px;
    overflow: hidden;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    margin-top: 1em;
    margin-bottom: 1em;

    * {
        position: relative
    }

    td,
    th {
        padding-left: 8px
    }

    thead tr {
        height: 60px;
        background: #86c4ff;
        font-size: 16px;
    }

    tbody tr {
        height: 48px;
        border-bottom: 1px solid #E3F1D5;

        &:last-child {
            border: 0;
        }
    }

    td,
    th {
        text-align: left;

        &.l {
            text-align: right
        }

        &.c {
            text-align: center
        }

        &.r {
            text-align: center
        }
    }
}


@media #{$gl-xs} {

    table {
        display: block;

        >*,
        tr,
        td,
        th {
            display: block
        }

        thead {
            display: none
        }

        tbody tr {
            height: auto;
            padding: 8px 0;

            td {
                padding-left: 45%;
                margin-bottom: 12px;

                &:last-child {
                    margin-bottom: 0
                }

                &:before {
                    position: absolute;
                    font-weight: 700;
                    width: 40%;
                    left: 10px;
                    top: 0
                }

                &:nth-child(1):before {
                    content: "Code";
                }

                &:nth-child(2):before {
                    content: "Stock";
                }

                &:nth-child(3):before {
                    content: "Cap";
                }

                &:nth-child(4):before {
                    content: "Inch";
                }

                &:nth-child(5):before {
                    content: "Box Type";
                }
            }
        }
    }
}


}

.post-content {
    margin-bottom: $spacing-unit;

    h1,h2,h3,h4 {
        margin-left: 3em;
        margin-top: 3em;
        margin-bottom: 1em;
    }

    h4 {
        font-size: 2em;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }

    >p, >ul, >ol {
        margin-left: 6em;
    }
    >ul li {
        margin-left: 1em;
    }
    >p {
        font-size: 1.5 em;
        
        margin-right: 6em;
        margin-bottom: 10px;

        text-align: justify;
        line-height: 2;


        @include media-query($on-laptop) {
            font-size: 11px;
        }
    }
    li {
        line-height: 2;
    }
}


/**
* Comments
*/

.jumbotron {
    background-color: #fff;
    padding: 1em;
    margin-top: 3em;
    margin-bottom: 3em;
    border-radius: 0.3em;
    border: 1px solid #ddd;
}