body {
    min-height: 2000px;
    padding-top: 70px;
}

.indentedBlock {
  margin-left: 4em;
  font-size: 0.8em;
}
h3,h4 {
  font-size: 1.5em;
}
.vignette {
  padding: 5px;
}

.vignette-content {
  height: 12em;
  padding: 0.5px;
  margin: 0.5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, .25);
}
.vignette-content-big {
  min-height: 19em;
  padding: 0.5em;
  margin: 0.5em;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, .25);
}

.vignette-content h4 {
  padding-left: 1.8em;
  margin-right: 1.8em;
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}
.vignette-content-big h4 {
  padding-left: 1.8em;
  margin-right: 1.8em;
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}
.vignette-content p,pre {
  padding-left: 1.8em;
  margin-right: 1.8em;
  margin-left: 0.8em;
}
.vignette-content-big p {
  padding-left: 1.8em;
  margin-right: 1.8em;
  margin-left: 0.8em;
}

@media only screen and (min-width: 1500px) {
.book{
    position: fixed;
    z-index: 14;
    top: 20%;
    left: 2%;
    width:200px;
    height:400px;
}
}

a {
  color: rgb(97, 158, 28);
  font-weight: bold;
}
a:hover {
  font-weight: bold;
  color: red;
}

.container-sponsor {
  margin-top: 2em;
  padding-bottom: 2em;
  background-color:rgb(185, 253, 158);
}

.grayscale img {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  height: 5em;
  padding: 16px;
}

.sponsor_logo_area {
  height: 10em;
  padding: 16px;

}