<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="author" content="E. Rossignon"/>
    <meta name="description" content="NodeOPCUA: the OPCUA sdk for node.js">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    

    <meta name="flattr:id" content="me93y1">

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-N63SL9Q');</script>
    <!-- End Google Tag Manager -->

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <title>NodeOPCUA! the OPCUA sdk for node.js</title>

    <!-- css stylesheets -->
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap-theme.css" media="screen"/>
    <link href="/stylesheets/style.css" rel="stylesheet">
    <link href="/stylesheets/simple-sidebar.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/pygment.css" media="screen"/>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-8886208393040088",
        enable_page_level_ads: true
      });
    </script>
    

    
</head>
<body>

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N63SL9Q"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    
{% include topnavbar.html %}

<!-- BODY PAGE CONTENT -->

<div class="container">
  {{content}}
</div>


</div>
</div>
{% include footer.html %}
{% include analytics_partial.html %}


<!-- add javascripts -->
<script src="/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
