<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="author" content="Script Tutorials"/>
    <meta name="description" content="NodeOPCUA: the OPCUA sdk for node.js">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <title>NodeOPCUA! the OPCUA sdk for node.js</title>

    <!-- css stylesheets -->
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap-theme.css" media="screen"/>
    <link href="/stylesheets/style.css" rel="stylesheet">
    <link href="/stylesheets/simple-sidebar.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/pygment.css" media="screen"/>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>

</head>
<body>

{% include topnavbar.html %}

<!-- BODY PAGE CONTENT -->

<div class="container">
  {{content}}
</div>


<div class="container">
    {% include footer.html %}
</div>
{% include analytics_partial.html %}


<!-- add javascripts -->
<script src="/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
