<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="author" content="Script Tutorials"/>
    <meta name="description" content="Responsive Websites Using BootStrap - demo page">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <title>NodeOPCUA! the OPCUA sdk for NodeJS</title>

    <!-- css stylesheets -->
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap-theme.css" media="screen"/>
    <link href="stylesheets/style.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="stylesheets/pygment.css" media="screen"/>
    <!-- add javascripts -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>

</head>
<body>

{% include topnavbar.html %}


    <div class="container">
      <section id="main_content">
      {{content}}
      </section>
    </div>




{% include footer.html %}

{% include analytics_partial.html %}


</body>
</html>
